html {
  font-size: 10px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background: linear-gradient(to right, #ec2F4B, #009FFF);
}

header nav .pagemenu h1 {
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  margin: 1rem 2rem 1rem 2rem;
}

 body footer .footerdiv {
  position: relative;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 1.4rem;
  height: 20rem;
}

body footer .footerdivone {
  display: block;
  float: left;
  width: 18%;
}
body footer .footerdivtwo {
  display: block;
  float: left;
  width: 18%;
}
body footer .footerdivthree {
  display: block;
  float: left;
  width: 18%;
}

body footer .footerdivfour {
  display: block;
  float: left;
  width: 18%;
}
body footer .footerdivfive {
  width: 18%;
}
